
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head> 
    <link href="~/CoreBlogDemo/css/contact.css" rel='stylesheet' type='text/css' />
</head>

<body>
    <!--Header-->

    
    <!--//header-->
    <!--/banner-->
    
  
    <!--//banner-->
    <!--/main-->
    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">İletişim</h3>
        <p class="sub text-center">Genç Yazılımcılar</p>
        <div class="contact-map inner-sec">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.9208086669364!2d32.77403901538016!3d39.898405279428744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3463a8facc17f%3A0x331381614ba3d99a!2s%C3%9Cniversiteler%2C%20ODT%C3%9C%20Teknokent%2C%2006800%20%C3%87ankaya%2FAnkara!5e0!3m2!1str!2str!4v1649690408028!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">

                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Adres</h6>
                                <p>
                                    Ankara, Türkiye

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>E-mail</h6>
                                <p>                             
                                    <a href="mailto:example@email.com">contact@gencyazilimcilar.com</a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Telefon</h6>
                                <p>+90 0545 614 93 ~~</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact_grid_right">
                <form  method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">Ad Soyad</label>
                                <input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">E-mail</label>
                                <input class="form-control" type="email" name="ContactMail" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">Konu</label>
                                <input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">Mesaj</label>
                                <textarea id="textarea" name="ContactMessage" placeholder=""></textarea>
                            </div>
                            <input class="form-control" type="submit" value="Gönder">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>



</body>

</html>

