<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Genç Yazılımcılar</span>
                        <span class="text-muted text-xs block">Admin Paneli </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>



            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrikler</span>  </a>
            </li>
            <li>
                <a href="/Admin/Category/Index"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
                <a href="/Admin/Bloglar/Index"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Yorumlar/Index"><i class="fa fa-comment"></i> <span class="nav-label">Yorumlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Yazarlar/Index"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Message/InBox"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span></a>
            </li>

            <li>
                <a href="/Admin/AdminRole/Index"><i class="fa fa-user-secret"></i> <span class="nav-label">Roller</span>  </a>
            </li>

            <li>
                <a href="/EmployeeTest/Index"><i class="fa fa-btc"></i> <span class="nav-label">Api</span>  </a>
            </li>
            <li>
                <a href="/Admin/Bildirimler/Index"><i class="fa fa-bell"></i> <span class="nav-label">Bildirimler</span>  </a>
            </li>
            <li>
                <a href="/Admin/Iletisim/Index"><i class="fa fa-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>
            <li>
                <a href="/Admin/About/Index"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Hakkımızda</span>  </a>
            </li>

            <li>
                <a href="/Admin/Blog/BlogTitleListExcel"><i class="fa fa-file-excel-o"></i> <span class="nav-label">Excel İşlemleri</span>  </a>
            </li>
            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-flask"></i> <span class="nav-label">İstatistikler</span></a>
            </li>
            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-sign-out"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>
        </ul>
    </div>
</nav>